@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.rtl{
    direction: rtl;
  }
  .ltr{
    direction: ltr;
  }
.test {
  width: 100%;
  height: 593px;
  display: flex;
  background-image: url("./images/5559852.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  align-items: center;
}
.container h1{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  color: white;
  background-color: #006bff;
  
}
.nav-bar   .button{
  color: white;
  background-color: rgb(51, 60, 90);
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  
  a{
    text-decoration: none;
    color: white;
    font-weight: bold;

  }
}
.arabica{
    text-decoration: none;
    color: white;
}
.nav-bar   .button:focus{
  color: white;
  background-color: rgb(64, 85, 153);
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  

  h2 {
    span {
      color: black;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    li {
      text-align: right;
      list-style-type: none;
      margin: 0 10px;

      a {
        text-decoration: none;
        color: aliceblue;
        cursor: pointer;
        a::before {
          color: white;
        }
        a:after {
          color: black;
          background-color: white;
          border: 20px 5px;
        }
      }
    }
  }
}
.about{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  height: 200px;
  box-shadow:  rgba(0, 0, 0, 0.5) 5px 5px 50px 5px ;
} 
.about p{
  text-align: center;
}
.about h2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.services{
  display: flex;
  justify-content: content;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 1px 1px 1px 1px;
  width: 300px;
  height: 200px;
  box-shadow:  rgba(0, 0, 0, 0.5) 5px 5px 50px 5px ;
}
.services p{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
.services h2{

  width: 100%;
  display: flex;
  justify-content: center;
}
.contact{
  display: flex;
  justify-content: content;
  flex-direction: row;
  flex-wrap: wrap;

  width: 300px;
  height: 200px;
  box-shadow:  rgba(0, 0, 0, 0.5) 5px 5px 50px 5px;
}
.contact p{
  text-align: center;
}
.contact h2{
  width: 100%;
  display: flex;
  justify-content: center;

}
.container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.container3{
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 79%;

  align-items: center;
}
.login {
  display: flex;
  border: auto transparent;
  flex-direction: column;
}
input{
  width: 500px;
  border: rgb(131, 127, 127) solid 0.6px; 
  border-radius: 5px;
  padding: 24px;
  margin: 1px;
}
.button2{
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px;
  background-color: #006bff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
}
.button2:hover{
  background-color: #115bff;
  font-size: 21px;
  transition: all 0.5s;
  color: white;
}
.container2 h2 {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.social-icons {
  font-size: 56px;
  padding-right: 30px;
}

.message{
  display: flex;
  border: auto transparent;
  flex-direction: column;
  height: 40px;
}